* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  color: #000000;
}

header {
  display: flex;
  height: 116px;
  padding: 0 35px;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: Homemade Apple;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 39px;
  color: #231f20;
  padding: 0 45px;
}

.footer-logo {
  color: #f7941e;
}

// BUTTONS____________________________

.btn {
  height: 60px;
  width: 200px;
  text-align: center;
  line-height: 60px;
  font-size: 18px;
  border-radius: 5px;
  padding: 0 20px;
  &:hover {
    cursor: pointer;
  }
}

.primary {
  color: #ffffff;
  border: solid 1px #f7941e;
  background-color: #f7941e;
}

.secondary {
  color: #f7941e;
  border: solid 1px #f7941e;
}

.disable {
  color: #f7941e;
  border: solid 1px #f7941e;
  height: 44px;
  line-height: 44px;
}

.black {
  display: inline-block;
  color: #ffffff;
  border: solid 1px #000000;
  background-color: #000000;
  margin-right: 16px;
}

.black-disable {
  display: inline-block;
  color: #000000;
  border: solid 1px #000000;
}

//_________________________________________

.main-nav {
  display: inline-block;
  font-size: 18px;
  padding: 15px;
}

.footer-nav {
  display: inline-block;
  font-size: 14px;
  padding: 40px;
  font-weight: bold;
}

a {
  display: block;
  text-decoration: none;
  color: #000000;
}

.main-row {
  display: flex;
  height: 600px;
  flex-flow: row nowrap;
}

.image {
  width: 50%;
}

.background1 {
  background-image: url(images/Background1.svg);
}

.media-background {
  background-image: url(images/Media-Background.svg);
}

.description {
  width: 50%;
  padding: 105px 150px;
}

h1 {
  font-size: 56px;
  padding-bottom: 30px;
  margin: 0;
  font-weight: normal;
}

h2 {
  font-size: 48px;
  text-align: start;
  padding: 5px 0 60px 24px;
  margin: 0;
  font-weight: normal;
}

h3 {
  font-size: 32px;
  line-height: 45px;
  padding-bottom: 30px;
  margin: 0;
  font-weight: normal;
}

h4 {
  font-size: 24px;
  font-weight: bold;
  text-align: start;
}

h5 {
  font-size: 20px;
  padding-left: 24px;
  text-align: start;
  font-weight: normal;
}

.bold-h3 {
  font-weight: bold;
  padding: 0;
}

.subtitle {
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 50px;
  margin: 0;
  font-weight: normal;
}

.subtitle2 {
  font-size: 14px;
  padding: 70px 0 0 24px;
  text-align: start;
  font-weight: normal;
}

.block-sub {
  padding: 10px 0;
}

.subtitle3 {
  font-size: 18px;
  text-align: start;
  font-weight: normal;
  padding-top: 30px;
}

.media-desc-link {
  color: #ffffff;
  padding-left: 24px;
}

.occasions-container {
  height: 800px;
  text-align: center;
  padding: 95px 105px;
}

.blogs-container {
  height: 1026px;
  text-align: center;
  padding: 80px 105px;
}

.blogs-row {
  display: flex;
  height: 370px;
}

.media-desc {
  width: 62%;background-color: #000000;
  color: #ffffff;
  padding:0 52px;
}

.media {
  width: 38%;
  background-image: url(images/Media.svg);
}

.ai-group {
  display: flex;
  justify-content: center;
  margin-top: 40px; 
}

.block {
  padding: 0 48px;
  height: 290px;
  margin: 0 15px;
  background-color: #fafafa;
  &:hover {
    background-color: #ffffff;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }
}

.occasions-group {
  display: flex;
  justify-content: center;
}

.card {
  height: 436px;
  margin: 0 15px;
  background-color: #fafafa;
  &:hover {
    background-color: #ffffff;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }
}

.photo {
  height: 270px;
  width: 270px;
}

.rectangle {
  background-image: url(images/Rectangle.svg);
}

.rectangle1 {
  background-image: url(images/Rectangle1.svg);
}

.rectangle2 {
  background-image: url(images/Rectangle2.svg);
}

.rectangle3 {
  background-image: url(images/Rectangle3.svg);
}

.orange-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 240px;
  background-color: #f7941e;
}

footer {
  height: 410px;
  background-color: #fafafa;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.line {
  width: 70%;
  height: 1px;
  background-color: #000000;
}

.social {
  padding: 60px 0 0 0;
}

.icons {
  display: inline-block;
  height: 39px;
  width: 39px;
  margin: 0 13px;
}

.facebook {
  background-image: url(images/Facebook.svg);
}

.twitter {
  background-image: url(images/Twitter.svg);
}

.instagram {
  background-image: url(images/Instagram.svg);
}

.youtube {
  background-image: url(images/Youtube.svg);
}

.pinterest {
  background-image: url(images/Pinterest.svg);
}